<div class="container-fluid">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">TrackMetrics</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= registered_applications_path %>">MyApps <span class="sr-only">(current)</span></a></li>
          <li><a href="<%= new_registered_application_path %>">Add App</a></li>
        </ul>
      </div>
    </nav>


  <div class="jumbotron">
    <center><h1>Registered Applications</h1></center>
  </div>
  <div class="row">
    <div class="col-md-11">
      <%= link_to "Add Application", new_registered_application_path, class: 'btn-group btn-success btn-sm' %>
    </div>
  </div>


  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">URL</th>
        <th scope="col">Unique ID</th>
      </tr>
    </thead>

    <% @apps.each_with_index do |app, index| %>
      <tr>
        <th scope="row"> <%= index + 1 %> </th>
        <td> <%= link_to app.name, registered_application_path(app.id) %> </td>
        <td> <%= link_to app.url, registered_application_path(app.id) %> </td>
        <td> <%= link_to app.id, registered_application_path(app.id) %> </td>
      </tr>
    <% end %>

</div>
