<div class="container-fluid">


  <div class="row">
    <div class="col-md-11">
      <%= link_to "Home", registered_applications_path, class: 'btn btn-info btn-sm' %>
      <%= link_to "Edit App", edit_registered_application_path, class: 'btn btn-warning btn-sm' %>
    </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Event Names</th>
      <th scope="col">Event Count</th>
    </tr>
  </thead>

  <tr>
    <td> <%= @app.name %> </td>
    <td> <%= @app.url %> </td>
    <td>
        <% @events.each do |key, value| %>
          <%= key %>
        <% end %>
    </td>
    <td>
        <%= @events.count %>

    </td>
  </tr>

</div>
